<H1>INDEX</H1>

<ul>
    {% for task in tasks  %}
    <li style="display: flex">
        [{{ task.id}}] {{ task.name }}
        &nbsp;
        <form action="/taskmanagement/delete/{{ task.id }}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ task.id }}">
            <button>Delete</button>
        </form>
        <form action="/taskmanagement/edit/{{ task.id }}" method="GET">
            <button>Edit</button>
        </form>
    </li>
    {% endfor %}
</ul>